{% extends './baseCargar.html' %}
{% block titulo %} Clases {% endblock %}
{% block contenido %}

<section class="section">
    <div class="columns">
        <div class="column">
            <h3 class="is-size-3">Juegos</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Descripción</th>
                        <th>Precio</th>
                        <th>Editar</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    {% for clase in clases %}
                    <tr>
                        <td>{{clase[1]}}</td>
                        <td>{{clase[2]}}</td>
                        <td>{{clase[3]}}</td>
                        <td>
                            {# Pasar el id (lo que hay en clase[0] #}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>
{% endblock %}