html,
body {
  height: 100%;
}

body {
  margin: 0 auto;
}

#img {
  width: 45px;
  height: 45px;
}

#titulo {
    align-items: center;
}

#usuario {
  list-style:none
}

#barra-superior {
  height: 45px;
}


